@colorBackground: #FFFFFF;
@colorBackgroundGrad: darken(@colorBackground, 25%);
@colorBoxBackground: darken(@colorBackground, 10%);
@colorBoxBackgroundGrad: darken(@colorBoxBackground, 10%);
@colorBase: darken(@colorBackground, 75%);
@colorDelete: #FF3333;
@colorInlineEdit: #FFFF99;
