/*
====================
=== Colors - old man winter | ver 04
====================
=        Lighter
=======  Darker
====================
*/

/*
====================
=== Tags
====================
*/

body {
	background: #FFF url(../img/back.jpg) repeat-x top;
	color: #333;
	font: 11px/15px Century Gothic, Apple Gothic, sans-serif;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	margin-bottom: 1.5em;
}

a {
	color: #135487;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #2A4353;
	text-decoration: underline;
}

a:focus {
	outline: 1px dotted invert;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height:1.2em;
	margin: .3em 0;
}

h2 {
	border-bottom: 1px solid #016392;
	margin: .3em 0 0 0;
}

ol {
	list-style: decimal;
}

ul {
	list-style: square;
}

li {
	margin-left: 2em;
}

p {
	margin-bottom: 1em;
}

blockquote {
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 1.2em;
	padding-left: 1.5em;
	border-left: 4px solid #ccc;
}

blockquote cite {
	font-size: .9em;
}

ul, ol {
	padding-top: 0;
}

/*
====================
=== IDs
====================
*/

#header {
	height: 60px;
	color: #fff;
}

#header a {
	color: #fff;
}

#breadcrumb {
	font-size: .75em;
}

/*
====================
=== Classes
====================
*/

/*
	General Classes
*/

.float-right {
	float: right;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/* 
	960 grid system
*/
.container_12,
.container_16 {
	padding: 0;
}

.content {
	background: #fff;
	-moz-border-radius: .75em;
	-webkit-border-radius: .75em;
	margin-bottom: 1em;
}

/*
	boxes
*/
.box {
	background: #dcdcdc;
	margin: 1em 0;
	padding: 1em;
	min-height: 1em;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
}

.box ul,
.box ol,
.box p {
	margin: 0;
}

.section {
	margin-bottom: 1em;
}

/*
	primary navigation
*/

.menu.horizontal {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu.horizontal li {
	margin: 0;
	padding: 0;
	float:left;
	display: inline;
}

.menu.horizontal a {
	display: block;
	padding: 5px 1em .5em;
	color: #0085c3;
	text-decoration: none;
}

.menu.horizontal li a.selected,
.menu.horizontal li a:hover {
	border-top: 1px solid #0085c3;
	padding-top: 4px;
}

.menu.horizontal.level-1 a {
	padding: 12px 1em .5em;
}

.menu.horizontal.level-1 li a.selected,
.menu.horizontal.level-1 li a:hover,
.menu.horizontal.level-2.float-right li a.selected,
.menu.horizontal.level-2.float-right li a:hover {
	border-top: 8px solid #0085c3;
}

.menu.horizontal.level-2 a {
	padding: 10px 1em .5em;
}

.menu.horizontal.level-2 li a.selected,
.menu.horizontal.level-2 li a:hover,
.menu.horizontal.level-3.float-right li a.selected,
.menu.horizontal.level-3.float-right li a:hover {
	border-top: 6px solid #0085c3;
}

.menu.horizontal.level-3 a {
	padding: 8px 1em .5em;
}

.menu.horizontal.level-3 li a.selected,
.menu.horizontal.level-3 li a:hover,
.menu.horizontal.level-4.float-right li a.selected,
.menu.horizontal.level-4.float-right li a:hover {
	border-top: 4px solid #0085c3;
}

.menu.horizontal.level-4 a {
	padding: 6px 1em .5em;
}

.menu.horizontal.level-4 li a.selected,
.menu.horizontal.level-4 li a:hover,
.menu.horizontal.level-5.float-right li a.selected,
.menu.horizontal.level-5.float-right li a:hover {
	border-top: 2px solid #0085c3;
}
