/*
====================
=== Tags
====================
*/

body {
	background: #FFFFFF;
	color: #333;
	font: 11px/15px Century Gothic, Apple Gothic, sans-serif;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	margin: .5em 0;
}

a {
	color: #135487;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #2A4353;
	text-decoration: underline;
}

a:focus {
	outline: 1px dotted invert;
}

h1 {
	font-family: 'Philosopher', arial, serif;
	letter-spacing: .1em;
	font-size: 27px;
	font-weight: normal;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height:1.2em;
	margin: .3em 0;
}

h2 {
	border-bottom: 1px solid #016392;
	margin: .5em 0;
}

ol {
	list-style: decimal;
}

ul {
	list-style: square;
}

li {
	margin-left: 2em;
}

p {
	margin-bottom: 1em;
}

blockquote {
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 1.2em;
	padding-left: 1.5em;
	border-left: 4px solid #ccc;
}

blockquote cite {
	font-size: .9em;
}

ul, ol {
	padding-top: 0;
}

/*
====================
=== IDs
====================
*/

#header {
	height: 60px;
	color: #fff;
	line-height: 2.5em;
}

#header a {
	color: #fff;
}

#adminSearch {
	padding: .5em;
}

#adminSearch input[type=search] {
	width: 20em;
}

#adminSearch input[type=submit] {
	display: none;
}

#breadcrumb {
	font-size: .85em;
	color: #fff;
	background: #0084c2;
	line-height: 2.25em;
	-moz-border-radius-bottomright: .5em;
	-moz-border-radius-bottomleft: .5em;
	border-bottom-right-radius: .5em;
	border-bottom-left-radius: .5em;
}

#breadcrumb a {
	padding: 0 1em;
	color: #fff;
}

/*
====================
=== Classes
====================
*/

.message,
.warning,
.error,
.success {
	-moz-border-radius: .5em;
	border-radius: .5em;
}

/*
	General Classes
*/

.float-right {
	float: right;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/* 
	Structure
*/
.container-outer {
	background: -webkit-gradient(linear, 0% 0, 0% 350, from(#0083C1), to(#ffffff), color-stop(.27,#0b5f8b),color-stop(.27,#ced9df));
	background: -moz-linear-gradient(0px 350px 90deg, #ffffff, #ffffff, #ced9df 73%, #0b5f8b 73%, #0083C1 100%);
	min-height: 350px;
}

.container_12,
.container_16 {
	padding: 0;
}

.content {
	background: #fff;
	-moz-border-radius: .75em;
	border-radius: .75em;
	margin-bottom: 1em;
	min-height: 25em;
}

.pagination a {
	-moz-border-radius-topright: .5em;
	-moz-border-radius-topleft: .5em;
	border-top-right-radius: .5em;
	border-top-left-radius: .5em;
}

/*
	boxes
*/
.box {
	background: #dcdcdc;
	margin: 0 0 1em 0;
	padding: 1em;
	min-height: 1em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	background: -webkit-gradient(linear, 0% 0, 0% 350, from(#ededed), to(#cdcdcd));
	background: -moz-linear-gradient(0px 350px 90deg,#cdcdcd, #ededed);
}


.box h3 {
	font-size: 1.25em;
	border-bottom: 1px solid #016392;
}

.box ul,
.box ol,
.box p {
	margin: 0;
}

.section {
	margin-bottom: 1em;
}

/*
	Pagination
*/

.pagination a:hover,
.pagination .selected a {
	background-image: -moz-linear-gradient(top, #cdcdcd, #ededed);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#ededed));
}

/*
	Sorting
*/

.sortable li {
	list-style: none;
	margin: .25em 0;
	padding: .25em .5em;
	border: 1px solid #0083C1;
}

.sortable {
	min-height: 5em;
}

.dragarea {
	background: #dcdcdc;
	margin: 0 0 1em 0;
	padding: 1em;
	min-height: 1em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	background: -webkit-gradient(linear, 0% 0, 0% 350, from(#ededed), to(#cdcdcd));
	background: -moz-linear-gradient(0px 350px 90deg,#cdcdcd, #ededed);
}

/*
	Editable Content
*/
[contenteditable=true] {
	padding: .25em .5em;
}

[contenteditable=true]:hover,
[contenteditable=true]:focus {
	background: #FFFF99;
}

/*
	primary navigation
*/

.menu.horizontal,
.submenu.horizontal {
	margin: 0;
	padding: 0;
	list-style: none;
}

.submenu.horizontal {
	margin: 0 1em;
}

.menu.horizontal li,
.submenu.horizontal li {
	margin: 0;
	padding: 0;
	float:left;
	display: inline;
}

.menu.horizontal a,
.submenu.horizontal a {
	display: block;
	padding: .5em 1em;
	margin: 0 .25em 0 0;
	color: #fff;
	text-decoration: none;
}

.menu.horizontal a {
	-moz-border-radius-topright: .5em;
	-moz-border-radius-topleft: .5em;
	border-top-right-radius: .5em;
	border-top-left-radius: .5em;
}

.menu.horizontal a.selected,
.menu.horizontal a:hover,
.submenu.horizontal a.selected,
.submenu.horizontal a:hover {
	color: #fff;
	background: #0084c2;
}

.submenu.horizontal a {
	color: #0084c2;
	-moz-border-radius-bottomright: .5em;
	-moz-border-radius-bottomleft: .5em;
	border-bottom-right-radius: .5em;
	border-bottom-left-radius: .5em;
}

.menu.horizontal.action a.selected,
.menu.horizontal.action a:hover,
.submenu.horizontal.action a.selected,
.submenu.horizontal.action a:hover {
	background: none;
	text-decoration: underline;
}

.submenu.horizontal.action a.selected,
.submenu.horizontal.action a:hover {
	color: #0083C1;
}

.ui-autocomplete {
	max-width: 30em;
}

.ui-autocomplete a {
	font-weight: normal;
}

.ui-autocomplete-category {
	margin: 0;
	padding: .25em;
	font-weight: bold;
}

.ui-autocomplete-more {
	margin: 0;
	padding: .25em .5em;
	font-size: .9em;
	font-style: italic;
}

/*
	Environment Specific
	0083C1
*/
.container-outer.maintenance {
	background: -webkit-gradient(linear, 0% 0, 0% 350, from(#c18f00), to(#ffffff), color-stop(.27,#8b6b0b),color-stop(.27,#ced9df));
	background: -moz-linear-gradient(0px 350px 90deg, #ffffff, #ffffff, #ced9df 73%, #8b6b0b 73%, #c18f00 100%);
}

.container-outer.maintenance #breadcrumb {
	background: #C29000;
}

.container-outer.maintenance a {
	color: #876E13;
}

.container-outer.maintenance a:hover {
	color: #534A2A;
}

.container-outer.maintenance .menu.horizontal a,
.container-outer.maintenance .submenu.horizontal a {
	color: #fff;
}

.container-outer.maintenance .submenu.horizontal a {
	color: #C29000;
}

.container-outer.maintenance .menu.horizontal a.selected,
.container-outer.maintenance .menu.horizontal a:hover,
.container-outer.maintenance .submenu.horizontal a.selected,
.container-outer.maintenance .submenu.horizontal a:hover {
	color: #fff;
	background: #C29000;
}

.container-outer.maintenance .submenu.horizontal.action a.selected,
.container-outer.maintenance .submenu.horizontal.action a:hover {
	color: #c18f00;
}

.container-outer.development {
	background: -webkit-gradient(linear, 0% 0, 0% 350, from(#21c100), to(#ffffff), color-stop(.27,#1e8b0b),color-stop(.27,#ced9df));
	background: -moz-linear-gradient(0px 350px 90deg, #ffffff, #ffffff, #ced9df 73%, #1e8b0b 73%, #21c100 100%);
}

.container-outer.development #breadcrumb {
	background: #22C200;
}

.container-outer.development a {
	color: #158713;
}

.container-outer.development a:hover {
	color: #2D532A;
}

.container-outer.development .menu.horizontal a,
.container-outer.development .submenu.horizontal a {
	color: #fff;
}

.container-outer.development .submenu.horizontal a {
	color: #22C200;
}

.container-outer.development .menu.horizontal a.selected,
.container-outer.development .menu.horizontal a:hover,
.container-outer.development .submenu.horizontal a.selected,
.container-outer.development .submenu.horizontal a:hover {
	color: #fff;
	background: #22C200;
}

.container-outer.development .submenu.horizontal.action a.selected,
.container-outer.development .submenu.horizontal.action a:hover {
	color: #21c100;
}
