@import "colors";
@import "transition";
@widthTextarea: 920px;
@heightTextarea: 20em;

.border-radius (@radius: 0.5em) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.border-radius-bottom (@radius: 0.5em) {
	.border-radius(0);
	-moz-border-radius-bottomright: @radius;
	-moz-border-radius-bottomleft: @radius;
	border-bottom-right-radius: @radius;
	border-bottom-left-radius: @radius;
}

.border-radius-top (@radius: 0.5em) {
	.border-radius(0);
	-moz-border-radius-topright: @radius;
	-moz-border-radius-topleft: @radius;
	border-top-right-radius: @radius;
	border-top-left-radius: @radius;
}

.border-radius-left (@radius: 0.5em) {
	.border-radius(0);
	-webkit-border-top-left-radius: @radius;
	-webkit-border-bottom-left-radius: @radius;
	-moz-border-radius-topleft: @radius;
	-moz-border-radius-bottomleft: @radius;
	border-top-left-radius: @radius;
	border-bottom-left-radius: @radius;
}

.border-radius-right (@radius: 0.5em) {
	.border-radius(0);
	-webkit-border-top-right-radius: @radius;
	-webkit-border-bottom-right-radius: @radius;
	-moz-border-radius-topright: @radius;
	-moz-border-radius-bottomright: @radius;
	border-top-right-radius: @radius;
	border-bottom-right-radius: @radius;
}

.transition (@type: all, @duration: .25s, @easing: ease-in-out) {
	-moz-transition: @type @duration @easing;
	-webkit-transition: @type @duration @easing;
	-o-transition: @type @duration @easing;
	transition: @type @duration @easing;
}

body {
	background: @colorBackground;
	color: @colorBase;
	font: 11px/15px Century Gothic, Apple Gothic, sans-serif;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
	margin: .5em 0;
}

a {
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	outline: 1px dotted invert;
}

h1 {
	font-family: 'Philosopher', arial, serif;
	letter-spacing: .1em;
	font-size: 27px;
	font-weight: normal;
	.transition(opacity);
}

h1:hover {
	opacity:0.65;
}

h1 a:hover {
	text-decoration: none;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 17px;
}

h6 {
	font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height:1.2em;
	margin: .3em 0;
}

h2 {
	margin: .5em 0;
}

ol {
	list-style: decimal;
}

ul {
	list-style: square;
}

li {
	margin-left: 2em;
}

p {
	margin-bottom: 1em;
}

blockquote {
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 1.2em;
	padding-left: 1.5em;
	border-left: 4px solid darken(@colorBackground, 66%);
}

blockquote cite {
	font-size: .9em;
}

ul, ol {
	padding-top: 0;
}

/*
====================
=== IDs
====================
*/

#header {
	height: 60px;
	color: @colorBackground;
	line-height: 2.5em;
	
	a {
		color: @colorBackground;
	}
}

#adminSearch {
	padding: .5em;
	
	input[type=search] {
		width: 20em;
	}
	
	input[type=submit] {
		display: none;
	}
}

#breadcrumb {
	font-size: .85em;
	color: @colorBackground;
	line-height: 2.25em;
	.border-radius-bottom;
	
	a {
		padding: 0 1em;
		color: @colorBackground;
	}
}

/*
====================
=== Classes
====================
*/

.notification.message,
.notification.warning,
.notification.error,
.notification.success {
	.border-radius;
}

/*
	General Classes
*/

.float-right {
	float: right;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/* 
	Structure
*/
.container-outer {
	min-height: 350px;
}

.container_12,
.container_16 {
	padding: 0;
}

.container-content {
	background: @colorBackground;
	.border-radius;
	margin-bottom: 1em;
	min-height: 25em;
}

.pagination a {
	.border-radius-top;
}

/*
	boxes
*/
.box {
	background: @colorBoxBackground;
	margin: 0 0 1em 0;
	padding: 1em;
	min-height: 1em;
	.border-radius;
	background: -webkit-gradient(linear, 0% 0, 0% 350, from(@colorBoxBackground), to(@colorBoxBackgroundGrad));
	background: -moz-linear-gradient(0px 350px 90deg,@colorBoxBackgroundGrad, @colorBoxBackground);
	
	h3 {
		font-size: 1.25em;
	}
	
	ul,
	ol,
	p {
		margin: 0;
	}
}

.section {
	margin-bottom: 1em;
}

/*
	Forms
*/

.form {
	.element {
		.border-radius;
		margin-bottom: 1em;
		padding: 0;
		overflow: hidden;
		line-height: 3em;
		
		label {
			margin-right: .5em;
			font-weight: bold;
			width: 25%;
		}
		
		.options label {
			background: none;
			border: none;
		}
		
		input[type=date],
		input[type=email],
		input[type=tel],
		input[type=number],
		input[type=text],
		input[type=url],
		textarea {
			.transition;
			border: 1px solid @colorBorderFade;
			background: transparent;
			padding: .25em;
		}
		
		input[type=date]:hover,
		input[type=date]:focus,
		input[type=email]:hover,
		input[type=email]:focus,
		input[type=tel]:hover,
		input[type=tel]:focus,
		input[type=number]:hover,
		input[type=number]:focus,
		input[type=text]:hover,
		input[type=text]:focus,
		input[type=url]:hover,
		input[type=url]:focus,
		textarea:hover,
		textarea:hover:focus {
			border: 1px solid @colorBorder;
		}
		
		textarea {
			width: @widthTextarea;
			margin: .25em 5px;
		}
		
		/**
		 * markItUp! Customizations
		 */
		.markItUpContainer {
			background: none;
			border: none;
			margin: 0;
			padding: 0;
		}
		
		.markItUp  {
			width: @widthTextarea;
			border: none;
			margin: 0;
		}
		
		textarea.markItUpEditor {
			width: @widthTextarea;
			height: @heightTextarea;
		}
		
		&.tall textarea.markItUpEditor {
			height: @heightTextarea * 2;
		}
		
		.markItUpHeader {
			margin: 0 .5em;
		}
		
		.markItUpPreviewFrame {
			margin: 5px;
			width: @widthTextarea;
			border: 1px solid @colorBorder;
		}
		
		&.datagrid label,
		&.textarea label,
		&.full label {
			border-right: none;
			.border-radius-top;
			width: auto;
			float: none;
			margin-bottom: .5em;
			margin-right: 0;
		}
		
		&.full > label {
			padding-left: 0;
		}
		&.full {
			padding: 0 1em;
		}
		
		&.full .options label {
			margin-left: .5em;
		}
	}
	
	&.condensed .element {
		margin-bottom: 0;
	}
	
	&.highlight .element {
		&:hover {
			background: #d7eafe;
		}
		
		.phantom {
			visibility: hidden;
		}
		
		&:hover .phantom {
			visibility: visible;
		}
	}
}

/*
	Pagination
*/

.pagination {
	a:hover,
	.selected a {
		background-image: -moz-linear-gradient(top, @colorBoxBackgroundGrad, @colorBoxBackground);
		background-image: -webkit-gradient(linear, left top, left bottom, from(@colorBoxBackgroundGrad), to(@colorBoxBackground));
	}
}

/*
	Sorting
*/
ul.sortable {
	min-height: 5em;
}

.sortable {
	li {
		list-style: none;
		margin: .25em 0;
		padding: .25em .5em;
	}
}

.dragarea {
	background: @colorBackgroundGrad;
	margin: 0 0 1em 0;
	padding: 1em;
	min-height: 1em;
	.border-radius;
	background: -webkit-gradient(linear, 0% 0, 0% 350, from(@colorBoxBackground), to(@colorBoxBackgroundGrad));
	background: -moz-linear-gradient(0px 350px 90deg,@colorBoxBackgroundGrad, @colorBoxBackground);
}

/*
	Inline Editing
*/

.inlineEdit {
	margin: 0;
	padding: 1px 0;
	border: none;
	background: none;
	
	&:hover,
	&:focus {
		background: @colorInlineEdit;
	}
}

/*
	primary navigation
*/
.menu.horizontal ul,
.submenu.horizontal ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.submenu.horizontal ul {
	margin: 0 1em;
}

.menu.horizontal li,
.submenu.horizontal li {
	margin: 0;
	padding: 0;
	float:left;
	display: inline;
}

.menu.horizontal a,
.submenu.horizontal a {
	display: block;
	padding: .5em 1em;
	margin: 0 .25em 0 0;
	text-decoration: none;
}

.menu.horizontal a {
	color: @colorBackground;
	.border-radius-top;
}

.submenu.horizontal a {
	.border-radius-bottom;
}

.menu.horizontal.action a.selected,
.menu.horizontal.action a:hover,
.submenu.horizontal.action a.selected,
.submenu.horizontal.action a:hover {
	background: none;
	text-decoration: underline;
}

.menu.horizontal a {
	.transition;
}

/**
 * jQuery UI Customizations
 */
.ui-autocomplete {
	max-width: 30em;
	
	a {
		font-weight: normal;
	}
}

.ui-autocomplete-category {
	margin: 0;
	padding: .25em;
	font-weight: bold;
}

.ui-autocomplete-more {
	margin: 0;
	padding: .25em .5em;
	font-size: .9em;
	font-style: italic;
}

dl.navigation {
	margin: 0 0 1.5em 0;
	line-height: 2em;
	
	dt {
		font-size: 1.2em;
	}
	
	dd {
		margin-left: 2em;
	}
}
